@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --text-color: rgb(35, 35, 35);
  --heading-color: rgb(25, 25, 25);
  --highlight-color: coral;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
}

body.mobile-menu-open {
  overflow-y: hidden;
}

.mobile-menu-open .hero-text-container,
.mobile-menu-open .logo {
  filter: blur(8px) brightness(0.6);
}

h2,
h3 {
  color: var(--heading-color);
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  color: var(--text-color);
  margin: 0.5em 0;
}

p:last-of-type {
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

a:visited {
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
}

#nav-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
  transition: transform 150ms ease-in;
  transform: translateX(-100vw);
  will-change: transform;
  z-index: 99;
}

#nav-list a:hover {
  color: var(--highlight-color);
}

#nav-list > li {
  transition: transform 250ms ease-in, opacity 250ms ease-in;
  transform: translateY(10px);
  will-change: transform, opacity;
  opacity: 0;
}

#nav-list > li + li {
  margin-top: 2rem;
}

#nav-list.show {
  transition: transform 250ms ease-out;
  transform: translateX(0);
}

#nav-list.show > li {
  transition: transform 250ms ease-out, opacity 250ms;
  transform: translateY(0);
  opacity: 1;
}

#hamburger {
  cursor: pointer;
  width: 54px;
  padding: 3px 7px;
  background-color: transparent;
  border: 0;
  z-index: 100;
}

#hamburger::before,
#hamburger::after,
#hamburger div {
  content: '';
  display: block;
  background-color: coral;
  height: 5px;
  margin: 7px 0;
  transition: transform 0.2s;
}

#hamburger.active::before {
  transform: translateY(12px) rotate(135deg);
}
#hamburger.active::after {
  transform: translateY(-12px) rotate(-135deg);
}
#hamburger.active div {
  transform: scale(0);
}

section {
  padding: 1rem;
  min-height: 50vh;
  background-color: white;
  border: 1px solid black;
}

section h2 {
  font-size: 2rem;
  font-weight: 600;
}

section p {
  font-size: 1.5rem;
  line-height: 1.3em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer h2 {
  color: inherit;
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer a {
  font-size: 1.2rem;
}

.hero {
  color: white;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 5vw;
}

.hero-text h1 {
  color: white;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 0.85em;
}

.hero-text p {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.45em 0.75em;
  cursor: pointer;
  border-radius: 999px;
  user-select: none;
  background-color: var(--highlight-color);
}

.btn:hover {
  filter: brightness(0.8);
}
.btn:active {
  transform: scale(0.98);
}

.hero-text .btn {
  margin-top: 5vmin;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.3em;
  margin-right: 1.3rem;
  user-select: none;
  white-space: nowrap;
}

.logo span {
  display: inline-block;
  transition: transform 350ms ease-in-out;
}
.logo:hover span:first-of-type {
  transform: rotate(360deg);
}
.logo:hover span:last-of-type {
  transform: rotate(-360deg);
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.socials svg {
  fill: white;
  height: 2rem;
}

.socials a {
  will-change: transform;
  transition: transform 250ms;
}

.socials a:hover {
  transform: scale(1.2);
}

.socials a + a {
  margin-top: 0.75rem;
}

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
}

.headshot-container {
  margin-top: 20px;
}

.headshot {
  width: 260px;
  object-fit: cover;
  border-radius: 50%;
}

.projects-container {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.project {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 500px;
  padding: 5px 5px 25px 5px;
  box-shadow: 2px 2px 20px rgb(185, 185, 185);
  background-color: white;
  text-align: center;

  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.project h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;

  transform: translateZ(20px);
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}

.project .subtext {
  font-size: 1rem;
  font-weight: 400;
  transform: translateZ(20px);
}

.project a {
  color: var(--highlight-color);
}

.project a:hover {
  filter: brightness(0.8);
}

.hr {
  width: 90%;
  height: 2px;
  margin: 1em auto;
  background: #232526; /* fallback for old browsers */
}

.project .hr {
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-content {
  flex: 1;
}

.project a {
  align-self: center;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.underline {
  padding: 0.5rem;
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 150ms ease-out;
}
.underline:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: var(--heading-color);
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.skill-category {
  background-color: var(--text-color);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.skill-category h3 {
  color: inherit;
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.skill-category li {
  margin: 0.5em;
}
.skill-category ul > li > ul {
  margin-left: 1em;
}

@media screen and (min-width: 800px) {
  h1,
  h2,
  h3 {
    text-align: unset;
  }

  section,
  footer {
    padding: 3rem;
  }

  footer h2 {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  footer a {
    font-size: 2rem;
  }

  #nav-list {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 300;
    transform: translateX(0);
    opacity: 1;
  }

  #nav-list > li {
    transform: translateY(0);
    opacity: 1;
  }

  #nav-list > li + li {
    margin-top: 0;
  }

  #nav-list.show {
    display: none;
  }

  #hamburger {
    display: none;
  }

  section h2 {
    font-size: 3rem;
  }

  .hero {
    padding: 1rem;
  }

  .hero-text h1 {
    font-size: 6rem;
  }
  .hero-text p {
    font-size: 2.2rem;
  }
  .hero-text a {
    font-size: 1.7rem;
  }

  .information-section {
    flex-direction: row;
  }

  .headshot-container {
    margin-top: 0;
    margin-left: 20px;
  }

  .socials svg {
    height: 3rem;
  }

  .skills-container {
    padding: 2rem;
    gap: 2rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }

  #nav-list {
    transition: none;
  }
  #nav-list > li {
    transition: none;
  }
  #nav-list.show {
    transition: none;
  }
  #nav-list.show > li {
    transition: none;
  }
  #hamburger::before,
  #hamburger::after,
  #hamburger div {
    transition: none;
  }
  .logo span {
    transition: none;
  }
  .socials a {
    transition: none;
  }
}
